body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  min-height: 100%;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.left-side {
  display: flex;
  justify-content: center;
  background-color: #2898ec;
  align-items: center;
  border-right: 1px solid white;
}

a {
  font-weight: 700;
  color: black;
}

.rightside {

  background-color: #2898ec;
  color: white;
  width: 100%;
  padding: 20px;
}
